*{
    box-sizing: border-box;
}

body{
    width: 375px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    position: relative;
}

header{
    width: 375px;
    height: 80px;

    padding: 0 20px; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 75px;
}

header ion-icon{
    width: 45px;
    height: 45px;
}

main{
    width: 375px;
    height: 507px;
    
    overflow: hidden;
    overflow-y: scroll;

    background-color: #F3F3F3;
}

main::-webkit-scrollbar {
    display: none;
}

.messages li{
    width: 375px;

    margin-bottom: 4px;
    padding: 8px 8px;
}

p{
    line-height: 20px;
    font-size: 14px;

    word-break: break-word;
}

.time{
    color: #AAAAAA;
}

.bold{
    font-weight: 700;
}

.status{
    background-color: #DCDCDC;
}

.message{
    background-color: #ffffff;
}

.private-message{
    background-color: #FFDEDE;
}

.screen{
    width: 375px;
    height: 667px;

    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    z-index: 1;
}

aside{
    width: 259px;
    height: 667px;

    background-color: #ffffff;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    transition: ease-in-out;
}

aside div:first-child p{
    text-align: center;
    font-size: 16px;
    font-weight: 700;

    padding: 25px 0;
}

.participants-list, .visibility{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.participants-list{
    height: 180px;

    overflow: hidden;
    overflow-y: scroll;
}

.visibility{
    padding-top: 25px;
}

.participants-list::-webkit-scrollbar {
    display: none;
}

.person, .type span:first-child{
    display: flex;
    gap: 10px;
}

.person ion-icon{
    font-size: 25px;
}

.visibility ion-icon{
    font-size: 22px;
}

.check ion-icon{
    font-size: 20px;
    color: #28BB25;
    font-style: bold;
}

.check{
    opacity: 0;
}

.participant, .visibility li{
    display: flex;
    justify-content: space-between;

    padding-left: 20px;
}

.visibility p:first-child{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.visibility li p,
.participants-list li p{
    font-size: 16px;
}

.send-message {
    width: 375px;
    height: 80px;

    display: flex;
    flex-direction: column;

    padding-top: 20px;
}

.send-message span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-message button{
    all: unset;
    box-sizing: border-box;

    width: 26px;
    height: 26px;

    margin-right: 18px;

    cursor: pointer;
}

.send-message ion-icon{
    width: 26px;
    height: 26px;
}

.text-message{
    all: unset;
    box-sizing: border-box;

    width: 300px;
    height: 25px;

    overflow: hidden;
    
    padding-left: 17px;

    font-size: 18px;
    word-break: break-word; 
}

.text-message::placeholder{
    color: black;
}

.text-private{
    font-size: 14px;
    font-weight: 300;

    color: #505050;

    padding-left: 17px;
}

.participant.selected .show,
.type.selected .show{
    opacity: 1;
}

.hide{
    display: none;
}

.type, .participant{
    cursor: pointer;
}