*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    width: 375px;
    height: 507px;
    
    background-color: #F3F3F3;

    position: relative;
}

header{
    width: 375px;
    height: 80px;

    padding: 0 20px; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 75px;
}

header ion-icon{
    width: 45px;
    height: 45px;
}

.messages{
    height: 461px;
    width: 100%;

    overflow: hidden;
    overflow-y: scroll;

    position: absolute;
    top: 26px;

}

.element{
    display: flex;
    align-items: center;

    margin-bottom: 4px;
    padding: 8px 20px;
}

p{
    line-height: 20px;
    font-size: 14px;
}

.status{
    background-color: #DCDCDC;
}

.message{
    background-color: #ffffff;
}

.private-message{
    background-color: #FFDEDE;

}


.send-message{
    width: 375px;
    height: 80px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-message ion-icon{
    width: 26px;
    height: 26px;

    padding-right: 18px;
}

.send-message input{
    border: none;

    padding-left: 17px;

    outline: none;
}
